In [17]:
import pandas as pd
from pandas import  DataFrame, Series

In [18]:
titanic_df = pd.read_csv("dataset/train.csv")
test_df = pd.read_csv("dataset/test.csv")

OSError: File b'dataset/train.csv' does not exist

In [ ]:
titanic_df.head()

In [ ]:
train_df = titanic_df
titanic_df.info()

In [ ]:
train_df = train_df.drop(["PassengerId","Name","Ticket"], axis=1)

In [ ]:
embarked_dummies = pd.get_dummies(train_df['Embarked'])
embarked_dummies.head()

In [ ]:
train_df = train_df.drop("Embarked", axis=1)

In [ ]:
train_df["Embarked"] = train_df["Embarked"].fillna("S")


embark_dummies_titanic  = pd.get_dummies(train_df['Embarked'])
train_df = train_df.join(embark_dummies_titanic)

In [19]:
train_df["Party"] = train_df["SibSp"]+train_df["Parch"]

KeyError: 'SibSp'

In [11]:
train_df = train_df.drop(["Parch","SibSp"], axis=1)

In [13]:
train_df["Sex"] = train_df["Sex"].map({'female':1,'male':1})

In [16]:
train_df

     Survived  Pclass  Sex   Age      Fare        Cabin    C    Q    S  Party
0           0       3    1  22.0    7.2500          NaN  0.0  0.0  1.0      1
1           1       1    1  38.0   71.2833          C85  1.0  0.0  0.0      1
2           1       3    1  26.0    7.9250          NaN  0.0  0.0  1.0      0
3           1       1    1  35.0   53.1000         C123  0.0  0.0  1.0      1
4           0       3    1  35.0    8.0500          NaN  0.0  0.0  1.0      0
5           0       3    1   NaN    8.4583          NaN  0.0  1.0  0.0      0
6           0       1    1  54.0   51.8625          E46  0.0  0.0  1.0      0
7           0       3    1   2.0   21.0750          NaN  0.0  0.0  1.0      4
8           1       3    1  27.0   11.1333          NaN  0.0  0.0  1.0      2
9           1       2    1  14.0   30.0708          NaN  1.0  0.0  0.0      1
10          1       3    1   4.0   16.7000           G6  0.0  0.0  1.0      2
11          1       1    1  58.0   26.5500         C103  0.0  0.0  1.0      0
12          0       3    1  20.0    8.0500          NaN  0.0  0.0  1.0      0
13          0       3    1  39.0   31.2750          NaN  0.0  0.0  1.0      6
14          0       3    1  14.0    7.8542          NaN  0.0  0.0  1.0      0
15          1       2    1  55.0   16.0000          NaN  0.0  0.0  1.0      0
16          0       3    1   2.0   29.1250          NaN  0.0  1.0  0.0      5
17          1       2    1   NaN   13.0000          NaN  0.0  0.0  1.0      0
18          0       3    1  31.0   18.0000          NaN  0.0  0.0  1.0      1
19          1       3    1   NaN    7.2250          NaN  1.0  0.0  0.0      0
20          0       2    1  35.0   26.0000          NaN  0.0  0.0  1.0      0
21          1       2    1  34.0   13.0000          D56  0.0  0.0  1.0      0
22          1       3    1  15.0    8.0292          NaN  0.0  1.0  0.0      0
23          1       1    1  28.0   35.5000           A6  0.0  0.0  1.0      0
24          0       3    1   8.0   21.0750          NaN  0.0  0.0  1.0      4
25          1       3    1  38.0   31.3875          NaN  0.0  0.0  1.0      6
26          0       3    1   NaN    7.2250          NaN  1.0  0.0  0.0      0
27          0       1    1  19.0  263.0000  C23 C25 C27  0.0  0.0  1.0      5
28          1       3    1   NaN    7.8792          NaN  0.0  1.0  0.0      0
29          0       3    1   NaN    7.8958          NaN  0.0  0.0  1.0      0
..        ...     ...  ...   ...       ...          ...  ...  ...  ...    ...
861         0       2    1  21.0   11.5000          NaN  0.0  0.0  1.0      1
862         1       1    1  48.0   25.9292          D17  0.0  0.0  1.0      0
863         0       3    1   NaN   69.5500          NaN  0.0  0.0  1.0     10
864         0       2    1  24.0   13.0000          NaN  0.0  0.0  1.0      0
865         1       2    1  42.0   13.0000          NaN  0.0  0.0  1.0      0
866         1       2    1  27.0   13.8583          NaN  1.0  0.0  0.0      1
867         0       1    1  31.0   50.4958          A24  0.0  0.0  1.0      0
868         0       3    1   NaN    9.5000          NaN  0.0  0.0  1.0      0
869         1       3    1   4.0   11.1333          NaN  0.0  0.0  1.0      2
870         0       3    1  26.0    7.8958          NaN  0.0  0.0  1.0      0
871         1       1    1  47.0   52.5542          D35  0.0  0.0  1.0      2
872         0       1    1  33.0    5.0000  B51 B53 B55  0.0  0.0  1.0      0
873         0       3    1  47.0    9.0000          NaN  0.0  0.0  1.0      0
874         1       2    1  28.0   24.0000          NaN  1.0  0.0  0.0      1
875         1       3    1  15.0    7.2250          NaN  1.0  0.0  0.0      0
876         0       3    1  20.0    9.8458          NaN  0.0  0.0  1.0      0
877         0       3    1  19.0    7.8958          NaN  0.0  0.0  1.0      0
878         0       3    1   NaN    7.8958          NaN  0.0  0.0  1.0      0
879         1       1    1  56.0   83.1583          C50  1.0  0.0  0.0      1
880         1       2    1  25.0   26.0000          NaN  0.0  0.0  1.0      1
881         0       3    1  33.0    7.8958          NaN  0.0  0.0  1.0      0
882         0       3    1  22.0   10.5167          NaN  0.0  0.0  1.0      0
883         0       2    1  28.0   10.5000          NaN  0.0  0.0  1.0      0
884         0       3    1  25.0    7.0500          NaN  0.0  0.0  1.0      0
885         0       3    1  39.0   29.1250          NaN  0.0  1.0  0.0      5
886         0       2    1  27.0   13.0000          NaN  0.0  0.0  1.0      0
887         1       1    1  19.0   30.0000          B42  0.0  0.0  1.0      0
888         0       3    1   NaN   23.4500          NaN  0.0  0.0  1.0      3
889         1       1    1  26.0   30.0000         C148  1.0  0.0  0.0      0
890         0       3    1  32.0    7.7500          NaN  0.0  1.0  0.0      0

[891 rows x 10 columns]